{% extends 'header.html' %}
{% block title %}
Getting started
{% endblock %}

{% block content %}
<p>To start your first QuizApp experiment, perform the following steps.</p>
<ol>
  <li>Create an Experiment</li>
  <li>Create some Datasets</li>
  <li>Create some Media Items</li>
  <li>Create some Activities</li>
  <li>Upload your Assignments</li>
</ol>
<p>For more information, see the <a
  href="http://quizapp.readthedocs.io/en/latest/getting_started.html">QuizApp
  documentation.</a></p>
{% endblock %}
