{% extends 'header.html' %}
{% import 'macros.html' as macros %}

{% block head %}
{{ macros.import_datatables() }}
{% endblock %}

{% block title %}
Activity List
{% endblock %}

{% block content %}
  <table class="table table-striped data-table" id="activities-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Text</th>
        <th>Category</th>
        <th data-orderable="false"></th>
      </tr>
    </thead>
    <tbody>
      {% for activity in activities %}
      <tr>
        <td><a href="{{ url_for('activities.read_activity',
        activity_id=activity.id) }}">{{ activity.id }}</a></td>
        <td>{{ activity.type }}</a>
        <td>{{ activity.question }}</a>
        </td>
        <td>{{ activity.category }}</a>
        <td>
          <a href="{{ url_for('activities.settings_activity',
          activity_id=activity.id) }}">{{ macros.render_glyphicon("cog") }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
