{% include 'header.html' %}

<header id='main-search' class='container'>
  <div class='page-header row'>
    <div class='col-xs-12 col-sm-12 col-md-12'>
      <h3>Thank you for participating.</h3>
    </div>
</header>
<section class='container'>
  <div class='row'>
    <div class='col-sm-12 col-md-12'>
      <p>Please rate the educational value to you of answering questions as a way to assess other people’s visualizations from 1 (not useful) to 5 (very useful).</p>

    </div>
    <div id='posttest-question' class="container col-xs-12 col-sm-12 col-md-12">
      <div id="posttest-question-answers" class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="radio" name="posttest-question-answers" id="1"> 1 </label>
        <label class="btn btn-primary">
          <input type="radio" name="posttest-question-answers" id="2"> 2 </label>
        <label class="btn btn-primary">
          <input type="radio" name="posttest-question-answers" id="3"> 3 </label>
        <label class="btn btn-primary">
          <input type="radio" name="posttest-question-answers" id="4"> 4 </label>
        <label class="btn btn-primary">
          <input type="radio" name="posttest-question-answers" id="5"> 5 </label><br><br></div>

    </div>
  </div> <!-- end .row -->
  <div class='row'>
    <div class='col-sm-12 col-md-12'>
      <p>Given a choice, would you prefer having critiques or having objective criteria like number of correctly answered questions as feedback on your designs?</p>

    </div>
    <div id='posttest2-question' class="container col-xs-12 col-sm-12 col-md-12">
      <div id="posttest2-question-answers" class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
          <input type="radio" name="posttest2-question-answers" id="critique"> critique </label>
        <label class="btn btn-primary">
          <input type="radio" name="posttest2-question-answers" id="objective criteria"> objective criteria </label>
        <label class="btn btn-primary">
          <input type="radio" name="posttest2-question-answers" id="no opinion"> no opinion </label><br><br></div>

    </div>
  </div> <!-- end .row -->
</section>

<div id='posttest-next' class='col-xs-12 col-sm-12 col-md-offset-10 col-md-12'>
  <button id="posttest-next" type="button" class="btn btn-primary" data-dismiss="modal">Next</button>
</div>

{% include 'footer.html' %}
