{% extends 'header.html' %}
{% block title %}
You finished the section.
{% endblock %}

{% block content %}

<section class='container'>
  <div class='row'>
    <div class='col-sm-12 col-md-12'>
      <p>Wait until your instructor gives you instructions before you start the next section.</p>

    </div>
  </div> <!-- end .row -->
</section>
<div id='quiz-start-area' class="navbar-button col-xs-12 col-sm-12">
  <!-- <div id="logged-in-quiz"><button id="quiz-button" type="button" class="btn btn-primary">Start</button></div> -->
</div>

{% endblock %}
