
<!-- LOGIN -->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="login-label">Login for the Quiz</h4>
        </div>
        <div class="modal-body">
          <div class="input-group modal-input">
            <span class="input-group-addon">Id:</span>
            <input id="input-username" type="text" class="form-control" placeholder="Id" aria-describedby="input-username">
          </div>


        </div>
        <div class="modal-footer">
          <button id="login-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="login-submit" type="button" class="btn btn-primary" data-dismiss="modal">Login</button>
        </div>
      </div>
    </div>
  </div>

<!-- QUIZ START -->
  <div class="modal fade" id="quiz-start-modal" tabindex="-1" role="dialog" aria-labelledby="quiz-start-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="quiz-start-label">Quiz</h4>
        </div>
        <div class="modal-footer">
          <button id="quiz-start-cancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="quiz-start-begin" type="button" class="btn btn-primary" data-dismiss="modal">Begin</button>
        </div>
      </div>
    </div>
  </div>
