{% include 'header.html' %}

<header id='main-search' class='container'>
  <div class='page-header row'>
    <div class='col-xs-12 col-sm-12 col-md-12'>
      <h3>Training and Quiz</h3>
    </div>
</header>

<div id='pretest-start-area' class="navbar-button col-xs-12 col-sm-12">
  <button id="pretest-start-button" type="button" class="btn btn-primary">Start</button>
</div>

<section class='container'>
  <div class='row'>
    <div id='graph1' class='col-sm-12 col-md-12'>
    </div>
  </div> <!-- end .row -->
  <div class='row'>
    <div id='graph2' class='col-sm-12 col-md-12'>
    </div>
  </div> <!-- end .row -->
  <div class='row'>
    <div id='graph3' class='col-sm-12 col-md-12'>
    </div>
  </div> <!-- end .row -->
</section>

<div id='pretest-question' class="container col-xs-12 col-sm-12 col-md-12">

</div>

<div id='pretest-next' class='col-xs-12 col-sm-12 col-md-offset-10 col-md-12'>
</div>

{% include 'footer.html' %}
