{% extends 'header.html' %}

{% block title %}
Quiz
{% endblock %}

{% block content %}
<section class='container'>
  {% for graph in test.graphs %}
  <div class="row">
    <div class='col-sm-12 col-md-12'>
      {{ graph.graph_location|path_to_img }}
    </div>
  </div>
  {% endfor %}
</section>

<div id='question' class="container col-xs-12 col-sm-12 col-md-12">
  <h3>{{ question.question }}</h3>
</div>


<div id='pretest-next' class='col-xs-12 col-sm-12 col-md-offset-10 col-md-12'>
  <form>
    {{ mc_form.answers() }}
  </form>
</div>
{% endblock %}
