{% include 'header.html' %}

<div id='index' class='index wrapper container'>
    <header id='main-search' class='container'>
      <div class='page-header row'>
        <div class='col-xs-12 col-sm-12 col-md-12'>
          <h3>Training and Quiz</h3>
      </div>
    </header>

    <div id='training-start-area' class="navbar-button col-xs-12 col-sm-12">
      <button id="training-start-button" type="button" class="btn btn-primary">Start</button>
    </div>

    <section class='container'>
      <div class='row'>
        <div id='graph1' class='col-sm-12 col-md-12'>
        </div>
      </div> <!-- end .row -->
    </section>

    <div id='training-question' class="container col-xs-12 col-sm-12 col-md-12">

  </div>

  <div id='training-next' class='col-xs-12 col-sm-12 col-md-offset-10 col-md-12'>

  </div>

{% include 'footer.html' %}
